<div class="jumbotron center">
	<h2>Custom Graphic Assets</h2>
	<p><h4><strong>Project graphics for:</strong> presentations, proposals, eLearning, process models, edutainment, storyboards/scenarios</h4></p>
	<h4><strong>Graphics include:</strong> illustrations, architectural renderings, logos, character development, photography</h4>
	<h2>Portfolio</h2>
	<p><span class="glyphicon glyphicon-copyright-mark"></span> Copyright 2014 - VerveSpace a GrowthMode Company</p>
		<!-- <p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p> -->

</div>