<h1>About Artist</h1>
<p>We are working on our One Month Rails Pinteresting app</p>

</div>
<div class="container center margin">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail center">
      <%= image_tag("seth.jpg", :alt => "Seth") %>
      
	  <div class="caption margin">
        <h4>Seth Vervaet</h4>
	    <p>Illustrator</p>
		<p>Tools include:</p>
				<p>pencil</p>
				<p>ink</p>
				<p>watercolor</p>

        <!-- <p><a href="#" class="btn btn-default" role="button">learn more</a></p> -->
      </div>
    </div>
  </div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail center">
		  <%= image_tag("phil-bw.jpg", :alt => "Multimedia") %>
		  <div class="caption margin">
		    <h4>Phil Vervaet</h4>
		    <p>Illustrator</p>
			<p>e-learning developer</p>
			<p>Tools include:</p>
				<p>Adobe Creative Suite</p>
				<p>Captivate</p>
		    <!-- <p><a href="#" class="btn btn-default" role="button">learn more</a></p> -->
		  </div>
		</div>
	</div>

