<div class="container">
	<h1>Need a quote?</h1>  
	<p>VerveSpace is a GrowthMode Enterprises, Ltd. company. Contact us to learn how we can give your presentations a custom look.
<p>
	<ul>
		Contact:</br>
		Phil Vervaet</br>
		630-408-3304</br>
		email: phil at growthmode.com</br>
	</ul>
</p>
</div>